@import "layout/header";
@import "layout/footer";

.nav {
    align-items: center;
    justify-content: center;
}

.nav-main {
    z-index: 100;
    margin-top: 1rem;
}


.breadcrumb {
    display: none;
}

.container-main {
    padding: 0;
}

.header-cart-total {
    display: none;
}